body {
    background-color: hsl(216, 12%, 8%);  
    font-family: 'Overpass', sans-serif; /* Applied font family here */
}

.rating-I {
    background-color: hsl(213, 19%, 18%);
    margin: 100px auto; /* Added space on top to center it a bit vertically */
    width: 300px;
    padding: 24px;
    border-radius: 15px;
}

.star {
    background-color: hsl(213, 18%, 22%) ;
    border-radius: 50px;
    width: 15px;
    height: 15px;
    padding: 10px;
}

.fonts-1 {
    color: white;
    margin-top: 20px;
}

.p {
    color: hsl(217, 12%, 63%);
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 20px;
}


.rating-btn {
    background-color: hsl(213, 18%, 22%);
    border-radius: 50px;
    border: none;
    color: hsl(217, 12%, 63%);
    width: 45px;
    height: 45px;
    font-weight: 700;
    cursor: pointer;        
    transition: 0.2s ease;   
    margin-bottom: 20px;
    margin-right: 5px;        
}

.rating-btn:hover {
    background-color: hsl(217, 12%, 63%); 
}


.rating-btn:focus {
    background-color: hsl(25, 97%, 53%);  
    color: white;                         
}


.button-link {
  display: block;             
  padding: 12px 0;
  background-color: hsl(25, 97%, 53%);
  color: white;
  text-decoration: none;
  border-radius: 25px;
  text-align: center;
  width: 100%;               
  font-weight: 700;
  text-transform: uppercase;  
  letter-spacing: 2px;
  transition: 0.2s ease;
}

.button-link:hover {
    background-color: white;
    color: hsl(25, 97%, 53%);
}

